@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root{
	--light_black: #303030;
  --dark_black: #1c1919;
  --white: #f8f8f8;
  --light_blue: #6a98f0;
  --dark_blue: #5e76ee;

  --black: #303137;
}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--dark_black);
	color: var(--light_blue);
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
